
/* 全体リセットとフォント */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yu Gothic", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

/* body 全体の余白と背景 */
body {
    background-color: #f9f9f9;
    padding: 20px;
    color: #333;
}

th {
    text-align: left;
}

/* 見出し */
h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #222;
    text-align: center;
}

/* 新規登録リンク */
a {
    display: inline-block; 
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 auto 20px; 
    display: block;       
    text-align: center;
    width: fit-content;   
    
}

a:hover {
    background-color: #0056b3;
}